# Auto detect text files and perform LF normalization
* text=auto

# Mark .cas files as Java temporarily (before GitHub Linguist supports Cascode)
*.cas linguist-language=Java
*.cascode linguist-language=Java
