.vs/
.vscode/
dotnet-home/
**/obj/**

tools/**/bin/Debug/**

AGENTS.md
CURSOR.md
CLAUDE.md

.dotnet/
.local/
.nuget/
.cascode/

**/.cache/*
**/bin/*
build/
CASCODE_DESIGN_DOC.md
MY_NOTES.md

error.log

.bashrc
*.log

# Testing files
*.trx
.it/**